@model E_Commerce_App.Models.Product
@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserInterface> SignInManager
@{
    ViewData["Title"] = "ProductDetails";

}
<h1>ProductDetails</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>

</div>
@if(Model.imageURL == null)
{
    <div>
        <img src="https://lab29images.blob.core.windows.net/images/defaultImage.png" alt="Default Image" width="200" height="200" />
    </div>
    
}
else
{
    <div>
        <img src="@Model.imageURL" alt="@Model.Name" width="200" height="200" />
    </div>
    
}

<div>

    @if ((User.HasClaim(c => c.Type == "permissions" && c.Value == "update")) && User.IsInRole("User"))
    {
        @Html.ActionLink("Edit", "EditProduct", new { ID = Model?.ID })
    }

    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Delete", "DeleteProduct", new { id = Model?.ID})
    }
    @* @Html.ActionLink("Back", "product", new { departmentId = Model?.DepartmentID}) *@
    <a asp-controller="Product" asp-action="product" asp-route-departmentID="@Model.DepartmentID">Back to List</a>
</div>
