@model IEnumerable<Product>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserInterface> SignInManager
@{
    ViewData["Title"] = "AddProduct";
    var departmentId = Model.FirstOrDefault()?.DepartmentID;
}

<div class="d-flex flex-row-reverse my-4">
    @if (User.IsInRole("Admin"))
    {
        <a class="btn btn-success mx-2" asp-controller="Product" asp-action="AddProduct" asp-route-departmentID="@departmentId">Add</a>
    }
    <a class="btn btn-success mx-2" asp-controller="Category" asp-action="Index">Back</a>
</div>


<div class="container d-inline-flex">
    @foreach (var item in Model)
    {

        <div class="card ms-2" style="width: 18rem;">
            <div class="card-image">
                @if (item.imageURL != null)
                {
                    <img src="@item.imageURL" alt="@item.Name" width="200" height="200" />
                }
                else
                {
                    <img src="https://lab29images.blob.core.windows.net/images/defaultImage.png" alt="Default name" width="200" height="200" />
                }
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    @item.Name
                </h5>
                <div class="my-1 d-flex flex-column">
                    <p>
                        <h3>Price:</h3> @item.Price
                    </p>
                    <p>
                        <h3>quantity:</h3>@item.Quantity
                    </p>
                </div>
                <a class="btn btn-primary" asp-action="ProductDetails" asp-route-id="@item.ID">Detail</a>
            </div>
        </div>
    }
</div>




